.toolbar-background-md{
    background-color: #f1ba22;
}
.toolbar-title-md {
    color:white;
}
.bar-button-default-md{
    color: white;
}
.col {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}