<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Pronóstico</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <div *ngIf="loading" style="text-align:center" class="center">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <div *ngIf="!loading">
        <ion-list>
          <ion-item-divider color="light">General</ion-item-divider>
          <ion-item>
            <ion-label floating>Seleccione tienda:</ion-label>
            <ion-select #shop [disabled]="calculado" (ionChange)="selectShop()" [(ngModel)]="selectedShop" >
              <ion-option  *ngFor="let shop of shops" [value]="shop">{{shop.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
              <ion-label stacked>Fecha:</ion-label>
              <ion-datetime #date [disabled]="calculado"></ion-datetime>
          </ion-item>
          <div *ngIf="selectedShop&&shelveList.length" >
            <ion-item-divider color="light">Existencias</ion-item-divider>
            <form [formGroup]="productForm" style="padding-bottom: 15px">
                <ion-item *ngFor="let s of shelveList" style="border-bottom: none">
                    <ion-icon name="pricetag" item-start></ion-icon>
                    <ion-label>{{convertIdToName(s.productid)}}</ion-label>
                    <ion-input [disabled]="calculado" [formControlName]="s.productid" type="text"></ion-input>
                </ion-item>
            </form>  
            <ion-item-divider color="light">Días</ion-item-divider>
              <ion-item>
                <ion-label>Producto para: </ion-label>
                <ion-select [disabled]="calculado" #weekday  multiple='true' required>
                    <ion-option *ngFor="let day of weekdays" [value]="day.value">{{day.day}}</ion-option>
                </ion-select>
              </ion-item>
              <button ion-button type='button' [disabled]="!weekday.value.length||!productForm.valid||!shop.value||!date.value.day" (click)="calculate(date.value,weekday.value)" *ngIf="!calculado">Calcular</button>
              <button ion-button color="warning" type='button' (click)="recalcular()" *ngIf="calculado">Recalcular</button>
              <button ion-button color="danger" type='button' (click)="refresh()">Cancelar</button>
          </div>
        </ion-list>
        <hr>
        <ion-list *ngIf="pronostico.length" >
            <ion-item-divider color="light">Pronóstico y venta</ion-item-divider>
            <form [formGroup]="ventaForm" style="padding-bottom: 15px">
                <ion-item *ngFor="let p of pronostico" style="border-bottom: none">
                    <ion-icon name="pricetag" item-start></ion-icon>
                    <ion-badge item-start>{{convertIdToName(p.productid)}}</ion-badge>
                    <ion-label>Calculado: <b>{{p.value}}</b></ion-label>
                    <ion-label>Venta real:</ion-label>
                    <ion-input [formControlName]="p.productid" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Comentario venta distinta a pronostico</ion-label>
                  <ion-input #comentario></ion-input>
                </ion-item>
            </form>  
            <button ion-button type='button' [disabled]="!ventaForm.valid||(isDistinctSale()&&!comentario.value)" (click)="saveSale(comentario.value)">Enviar</button>
        </ion-list>
    </div>

  </ion-content>